version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout

      - run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

      # build the application image
      - run: ./build.sh

      # deploy the image
      - run: docker push boldpawn/stockfish-server